textarea {
          width: 300px;
          height: 100px;
          margin-bottom: 10px;
          resize: none; /* Disable textarea resizing */
        }
        
        button {
          margin-bottom: 10px;
          
        }
        
        #displayed-text {
          margin-top: 10px;
        }