*{
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}

:root{
  --bg-color: rgb(196, 196, 245);
  --font-size: 25px;
  --width: 500px;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
}
/* This is the <div> */
.container{
  background-color: rgb(81, 235, 215);
  width: 1000px;
  height: auto ;
  margin: 0 auto;
}

h1{
  color: darkblue;
  font-size: 60px;
  text-align:center;
  
}


/*Table part**/

table{
  background-color: rgb(140, 254, 115);
  width: 600px;
  height: auto;
  text-align: center;
  border: 5px solid black;
  border-collapse:collapse ;
  
  
}

table th, table td{
  border: 1px solid rgb(6, 28, 119);
  border-collapse: collapse;
}

table th{
  background-color: darkorange;
}

/*image*/

img{
  width: 500px;
  height: auto;
  float: right;
}
/*List Part*/
label{
  font-size: 20px;
  
}
.a{
  list-style-type: circle;
  color: rgba(163, 4, 158, 0.996);
}

/*Combine Part*/

p,label,table{
  margin-left: 20px;
}


.query{
  color:rgb(105, 3, 3);
  font-size: var(--font-size);
}
.btn{
  background-color: rgb(6, 76, 99);
  color:rgb(248, 248, 248);
  width:100px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover{
    color: rgb(249, 6, 6);
}

.btn:focus{
  border: 2px solid red;
}

/*Utilize Pseudo Element*/
.pseudo{
  text-align: center;
  font-size: 50px;
  color: blue;
  position: relative;
}

.pseudo::before{
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background-color: red;
  position: absolute;
  left: 25%;
  top: 50%;
}
.pseudo::after{
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background-color: red;
  position: absolute;
  right: 25%;
  top: 50%;
}

/*Utilize Pseudo Class & Box Model*/
h2{
  text-align: center;
}
.main{
  width: 500px;
  height: 180px;
  background-color: rgb(189, 150, 225);
  margin: 0 auto;
  display: flex;
  gap: 10px;
  padding: 15px 15px 0px 20px;
  border: 4px solid red;
}
.box{
  width: 150px;
  height: 150px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.js{
  background-color: yellow;
  text-align: center;
  padding-top: 65px;
  font-size: 25px;
  
}

.js:hover{
  background-color: crimson;
}

.php{
  background-color: green;
  text-align: center;
  padding-top: 65px;
  font-size: 25px;
}

.php:hover{
  background-color: crimson;
}

.python{
  background-color: rgb(172, 111, 247);
  text-align: center;
  padding-top: 65px;
  font-size: 25px;
}
.python:hover{
  background-color: rgb(95, 49, 233);
}

