

/* **CSS Font<<<<===== */

.my-text-style{
    font-size:100px;
    font-weight:100px;
    font-style:italic;
    font-family:'Times New Roman', Times, serif
    /* font-variant:small-caps; */

}

/* **CSS Hover<<<<==== */

.btn{
    background-color:rgb(3, 0, 0);
    height: 50px;
    width:200px;
    border-radius: 15px;
    color: white;
    font-size:35px;
    font-weight: bold;
    
}
.btn:hover{
    background-color: blueviolet;

}

/* **CSS Importent<<<==== */


/* **CSS Element Selector<<<===== */

/* p{

    font-size:30px;
    
} */

/* **CSS ID Selector<<<<==== */

.my-text-style{
            color: rgb(9, 32, 244);
            
        } 

/* **CSS Class Selector<<<<==== */

#my-Id{
    color: rgb(243, 101, 19);
    font-size: 40px;
}

/* **CSS Universal Selector<<<=== */

*{
    text-align:center;
}

/* **CSS Background Properties<<<==== */

/* body{
    background-color:rgb(28, 175, 43);
    background-image:url("home.png");
    background-repeat: repeat-y;
    background-position:left;
    background-attachment:fixed;
    background-size:cover;
} */
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */

/* **CSS Border properties<<<<=== */

h1{

    /* border-style:none; */
    border-style:dotted;
    /* border-style:double; */
    /* border-style:dashed; */
    /* border-style:groove; */
    /* border-style:hidden; */
    /* border-style:inset; */
    /* border-style:outset; */
    /* border-style:ridge; */
    /* border-style:solid; */

}

/* **Border Radius<<<===== */

.my-div{

    height:300px;
    width:300px;
    background-color:red;
    margin:auto;
    border-radius:150px 0px 150px 0px;
}

/* **CSS Display Property<<<==== */

p{
    display:inline;
    /* display:block; */
    /* display:inline-block; */
    /* display:run-in; */
    /* display:none; */
}

/* **CSS Courser Property<<<<==== */

p{
    /* cursor:alias; */
    cursor:copy;
    /* cursor:all-scroll; */
    /* cursor:col-resize; */
    /* cursor:crosshair; */
    /* cursor:move; */
    /* cursor:pointer; */
    /* cursor:wait; */
}

/* **CSS Float Property<<<<===== */

img{
    float:left;
    /* float:right; */
    /* float:center; */
    background-color: black;
}





